*
    box-sizing: border-box 

body 
    background-color: $primaryBgdColor
    @include regularFont
    @include font-size(17px)
    letter-spacing: 1px

button
    outline: none
    user-select: none  

section, footer
    max-width: 1800px
    margin: 0 auto

.container
    display: block
    width: 100%
    padding: 0 15px 0 15px
    max-width: 1170px
    margin: 0 auto
