  
/* Navigation */

#nav 
    position: fixed
    width: 100%
    z-index: 9999
    opacity: 0.95
    background-color: $secodaryBgColor
    left: 50%
    transform: translateX(-50%)

.flex-wrapper__nav
    height: 80px
    display: flex
    align-items: center
    justify-content: space-between

.nav__logo
    display: flex
    align-items: center

.nav__logo--text
    margin-left: 10px

.nav__logo--textR
    margin-left: 10px
    display: none 

.navbar__link
    margin: 0 15px
    padding-bottom: 10px
    color: $primaryPragaphColor
    cursor: pointer
    &:last-child
        margin-right: 0
    &:link
        border-bottom: none
    &:visited
        border-bottom: none 
    &:hover
        border-bottom: 2px solid $primaryColor
    &:active
        color: $primaryColor     

.navbar
    > .active
        border-bottom: 2px solid $primaryColor    


.navbar__mobile-icon
    display: none
    cursor: pointer
    &:active
        .navbar__hamburger--bar
            border-color: $primaryColor
        .navbar__exit--barLeft, .navbar__exit--barRight
            background-color: $primaryColor  
            


.navbar__mobile-icon--hamburger
    display: flex
    height: 35px
    width: 35px
    justify-content: center
    flex-direction: column

.navbar__hamburger--bar
    border-bottom: 2px solid $tertiaryColor
    margin: 3px

.navbar__mobile-icon--exit
    display: flex
    height: 35px
    width: 35px
    flex-direction: row
    justify-content: center
    align-items: center

.navbar__exit--barLeft
    height: 80%
    width: 2px
    margin-right: -1px
    transform: rotate(50deg)
    background-color: $tertiaryColor

.navbar__exit--barRight
    height: 80%
    width: 2px
    margin-left: -1px
    transform: rotate(310deg)
    background-color: $tertiaryColor   

/* Hero */
#hero
    padding-top: 80px    
.carousel__wrapper
    position: relative
    overflow: hidden

.carousel__inner
    display: flex    

.carousel__item
    height: 450px
    display: flex
    align-items: center
    flex: 1 0 100vw
    justify-content: center
    padding: 50px 0 50px 0
    max-width: 1800px
    overflow-x: hidden

.first__slide
    background-image: url(../img/carousel1.jpeg)
    @include background-properties

.second__slide
    background-image: url(../img/carousel2.jpeg)
    @include background-properties

.third__slide
    background-image: url(../img/carousel3.jpeg)
    @include background-properties    
       

.hero__item
    display: flex
    align-items: center
    flex-direction: column

.hero__item--title
    max-width: 800px
    @include boldFont
    @include font-size(40px)
    letter-spacing: 3px
    text-align: center
    color: $primaryTitleColor

.hero__item--titleColor
    color: $primaryColor

.hero__item--button
    padding: 20px 40px
    margin-top: 10%
    margin-bottom: 5%
    border-radius: 30px
    @include font-size(18px)
    color: #ffffff
    cursor: pointer
    &:link
        background-color: $primaryColor
    &:visited
        background-color: $primaryColor
    &:hover
        background-color: $primaryColor + 15
    &:active
        background-color: $primaryColor - 15    

/* Bullets */
.wrapper__bullet-list
   position: absolute
   display: flex
   justify-content: center
   align-items: center
   width: 100%
   bottom: 8%

.bullets__list
    display: flex
    flex-direction: row
    font-size: 0
    cursor: pointer
    > .active
        background-color: $primaryColor

.bullet
    height: 13px
    width: 13px
    margin-left: 9px
    border-radius: 50%
    border: 2px solid $primaryColor
    cursor: pointer
    &:hover
        background-color: $primaryColor
    &:active
        background-color: $primaryColor      

/* Section title */    
.section__title
    text-align: center

.section__title--title
    @include font-size(30px)
    @include boldFont
    letter-spacing: 2px
    color: $primaryTitleColor

.section__title--text
    margin-top: 10px
    @include font-size(14px)
    @include lightFont
    text-transform: uppercase
    color: $secondaryTitleColor        

/* About me */
#about-me
    padding: $paddingSection
    @include font-size(20px)

.about-me__text
    line-height: 25px
    margin-bottom: 5%

.about-me__links
    display: flex
    align-items: center
    justify-content: space-evenly
    text-align: center

.about-me__link--title
    margin-bottom: 3.5px

.about-me__link
    display: flex
    flex-direction: column
    align-items: center
    &:nth-child(2)
        margin-left: 2.5%
        .about-me__link--svg
            width: 37px

.about-me__link--svg        
    width: 40px
    margin: 3.5px 0 0 2.5%
    filter: grayscale(100%) brightness(78%)
    &:link
        background-color: transparent
    &:visited
        background-color: transparent
    &:hover
        filter: none
    &:active
        filter: none 

.about-me__img
    max-height: 80%
    width: 80%
    object-fit: cover
    object-position: top                 

/* Projects */
#projects
    padding: $paddingSection
    .projects__bg
        &:nth-child(odd)
            background-color: $secodaryBgColor   
            .container    
                .flex-wrapper
                    flex-direction: row-reverse
                    .left-column
                        margin: 0 0 0 2.5%
                    .right-column__projects
                        margin: 0 2.5% 0 0
                                             

.right-column__projects
    @extend .right-column
    height: 400px
    background-color: $tertiaryColor    

.projects__description
    @include font-size(20px)
    line-height: 25px   

.projects__description--title
    text-align: left
    @include semiboldFont    

.projects__description--titleColor
    color: $secondaryColor

.projects__description--text
    margin-bottom: 5%     

.projects__description--links
    display: flex
    align-items: center

.projects__description--button
    @include button-properties
    color: #ffffff
    &:link
        background-color: $tertiaryColor
    &:visited
        background-color: $tertiaryColor  
    &:hover
        background-color: $secondaryColor
    &:active
        background-color: $secondaryColor    

.projects__description--svg
    width: 40px
    margin: 3.5px 0 0 2.5%
    filter: grayscale(100%) brightness(78%)
    &:link
        background-color: transparent
    &:visited
        background-color: transparent
    &:hover
        filter: none
    &:active
        filter: none    

.projects__img
    width: 75%
    max-height: 75%
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
    object-fit: cover
    object-position: top

.scale-down
    object-fit: scale-down
    background-color: #BBC1C5    

/* Contact */
#contact
    padding: $paddingSection
    .container
        .flex-wrapper
            flex-direction: column


#uForm 
    display: flex
    flex-direction: column
    width: 100%
    max-width: 500px

#name_Lastname    
    width: 47%

#mail
    width: 47%    

.id
    display: flex
    justify-content: space-between      

input, textarea
    margin: 5% 0    

textarea
    overflow-y: hidden
    height: 24px
    min-height: 24px
    border-bottom: 1px solid $primaryFormColor
    transition: height 1s
    @include regularFont
    @include font-size(17px)
    color: $primaryFormColor
    &::placeholder
        color: $primaryFormColor
    &:focus
        overflow-y: hidden
        height: 75px 
        color: $primaryFormColor           

input[type=text]
    padding-bottom: 5px
    border-bottom: 1px solid $primaryFormColor
    background-color: inherit
    color: $primaryFormColor
    &::placeholder
        color: $primaryFormColor
    &:focus
        outline: 0
        color: $primaryFormColor

.errors
    display: flex
    flex-direction: column
    max-width: 500px
    margin: 2.5% 0
    color: $error
    > span
        margin: 10px 0    

.contact__button
    @include button-properties
    background-color: inherit
    border: 2px solid $primaryColor
    color: $primaryColor
    &:link
        background-color: transparent
    &:visited
        background-color: transparent    
    &:hover
        background-color: $primaryColor
        color: #ffffff
    &:active
        background-color: $primaryColor
        color: #ffffff


#footer
    margin-top: 15px
    background-color: $secodaryBgColor
    .flex-wrapper
        padding: 18px 0                   