          
@media (max-width: 950px)

    .right-column__projects
        background-color: inherit

    .navbar__link
        &:hover
            border-bottom: 2px solid $primaryColor
        &:active
            color: $primaryColor  

    .hero__item--button
        &:hover
            background-color: $primaryColor
        &:active
            background-color: $primaryColor - 15

    .about-me__link--svg > img, .projects__description--svg > img
        &:hover
            filter: grayscale(100%) brightness(78%)
        &:active
            filter: none

    .projects__description--button
        &:hover
            background-color: $tertiaryColor
        &:active
            background-color: $secondaryColor

    .contact__button, .massage__button
        &:hover
            background-color: inherit
            color: $primaryColor
        &:active
            background-color: $primaryColor
            color: #ffffff                                

@media (max-width: 850px)

    #about-me
        .flex-wrapper
            flex-direction: column
            .left-column
                margin: 0
            .right-column
                margin: 0
    .about-me__img
        width: 100%
    .left-column, .right-column
        width: 95%

    #projects
        padding: $paddingSection
        .flex-wrapper
            flex-direction: column
            .left-column
                margin: 0
            .right-column__projects
                margin: 0 
        .projects__bg
            &:nth-child(odd)
                background-color: $secodaryBgColor   
                .container    
                    .flex-wrapper
                        flex-direction: column
                        .left-column
                            margin: 0
                        .right-column__projects
                            margin: 0            
    .projects__img
        width: 100%    

@media (max-width: 800px)

    .nav__logo--text
        display: none

    .nav__logo--textR

        display: flex 

    .navbar
        display: none

    .navbar__link
        margin: 5px 0
        padding: 0

    .navbar__mobile-icon
        display: flex
        .navbar__mobile-icon--exit
            display: none    

    #about-me .flex-wrapper
        flex-direction: column-reverse;
        
    .about-me__img 
        width: 100%
        max-width: 500px


@media (max-width: 550px)
    html 
        font-size: 14px

    .hero__item--button
        padding: 3% 4%

    .hero__item--title
       font-size: 1.8rem  


@media (max-width: 470px)

    .projects__description--links
        justify-content: space-evenly  

    .left-column, .right-column
        width: 100%

    .hero__item--button
        padding: 15px 20px

    .hero__item--title
        font-size: 1.5rem

    .carousel__item
        height: 350px  
 
    .id
        flex-direction: column
        #name_Lastname, #mail
            width: 100%

    #uForm
        margin-bottom: 15px             