
@media (max-width: 470px)
    .id
        flex-direction: column
        #name_Lastname, #email
            width: 100%

        
    
@media (max-width: 800px)
    #nav 
        position: fixed
        width: 100%
        z-index: 9999
        opacity: 0.95
    #hero
        padding-top: 80px
    .nav__logo--text
        display: none
    .nav__logo--textR
        display: flex 
    .navbar
        display: none
    .navbar__mobile-icon
        display: flex
        .navbar__mobile-icon--exit
            display: none
                      